.div-produto-list
{
  border: 2px solid #333;
  padding: 10px;
  margin: 1%;
  margin-top: 2%;
  margin-bottom: 2px;
  border-radius: 5px;
  background: #333;
}

.div-produto-item
{
  margin-bottom: 10px;
  color: white;
  background: #111;

}

.div-produto-item button
{
  color: white;
  background: #333;
  border-color: white;
  transition: 0.3s;
}

.div-produto-item button:hover
{
  background: #111;
  border-color: #333;
  transform: scale(1.1);
}

.btn-novo-produto
{
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  background: #E43939;
  transition: 0.4s;
  border: 2px solid #E43939;
  text-align: center;
}

.btn-novo-produto span
{
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.btn-novo-produto:hover
{
  background: inherit;
  border: 2px solid white;
  width: 100%;
}

.campo-form-produto
{
  border: 0px;
  border-bottom: 3px solid white;
  border-radius: 2px;
  background: inherit;
  padding: 5px;
  color: white;
}
