<form class="form" [formGroup]="formularioLogin" (ngSubmit)="onLoginSubmit()">
  <div class="form-group">
    <label for="pessoaEmail">Email</label>
    <input type="email" name="pessoaEmail" id="pessoaEmail" aria-describedby="emailHelp" formControlName="pessoaEmail">
  </div>
  <div class="form-group">
    <label for="pessoaSenha">Senha</label>
    <input type="password" name="pessoaSenha" id="pessoaSenha" formControlName="pessoaSenha">
  </div>
  <button type="submit" [disabled]="formularioLogin.invalid" class="btn btn-success" style="width: 40%;height: 50 px;font-weight: bolder;">Entrar</button>
</form>
<div style="width: 100%;margin-top: 10%;margin-left: 35%;">
  <app-sucess-msg></app-sucess-msg>
  <app-error-msg></app-error-msg>
</div>

