<div class="row">

  <div class="cl-md-6">
    <div class="container" style="width: 1000px;border: 1px solid blue;">
      <div class="row">
        <div *ngFor="let item of itemsCarrinho" class="cl-md-2 card text-white bg-dark mb-3" style="max-width: 18rem;margin: 10px;">
          <div class="container">
            <div class="row">
              <div class="col-lg-9 card-header" style="padding: 0px;margin: 0px;">Item Carrinho ID: {{item.itemCarrinhoId}}</div>
              <div class="cl-lg-3" style="padding: 0px;margin: 0px;padding-top: 5%;margin-right: 10px;margin-left: 10px"> <img src="assets/carrinho/remove_item_carrinho.png" (click)="removeItemCarrinho(item.itemCarrinhoId)" style="cursor: pointer;"></div>
            </div>
          </div>
          <div class="card-body">
          <h5 class="card-title">{{item.itemCarrinhoProdutoId.produtoNome}}</h5>
          <p style="margin: 0px;padding: 0px;"><b>R$</b> {{item.itemCarrinhoProdutoId.produtoValor}}</p>
          <p class="card-text">{{item.itemCarrinhoProdutoId.produtoDescricao}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cl-md-6" style="border: 1px solid red;" style="color: white;">
      <div class="container">
        <p>Total: {{valorTotal}}</p>
      </div>
  </div>
</div>
